<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__row">
        <div class="footer__column">
          <div class="footer__column-title">
            News
          </div>
          <div class="news__list">
            <article class="news__item">
              <div class="news__content">
                <div class="news__date">31.08</div>
                <h4 class="news__title">
                  From 4th September for the very first time, Tcherga red wine will be available in the popular wine retailer Majestic, which has more than 200 shops on the island
                </h4>
                <a class="button-main" href="#">
                  <span class="button__line"></span>
                  <span class="button__text">Learn more</span>
                </a>
              </div>
            </article>
            <article class="news__item">
              <div class="news__date">29.03</div>
              <div class="news__content">
                <h4 class="news__title">
                  Menada Winery wines have won two golden and one silver medal during the international wine and spirits contest Vinaria 2018 held from 21 to 25 February 2018 at the International Fair Plovdiv, Hall 11.
                </h4>
                <a class="button-main" href="#">
                  <span class="button__line"></span>
                  <span class="button__text">Learn more</span>
                </a>
              </div>
            </article>
            <a class="button-dark-bg" href="#">View all</a>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__column-title pf-15">Menu</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item footer__menu-item-active">
              <a class="footer__menu-link" href="#">Home</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Wine & Spirits</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">History</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">About</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Region & Wine</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Recipes</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Wine & Lifestyle</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Contacts</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Terms & Conditions</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Cookie Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer__column footer__contacts">
          <ul class="contacts__list">
            <li class="footer__contacts__item">
              <a class="contact__link" href="tel:35924899450">
                <svg class="contact__icon contact__phone">
                  <use xlink:href="#phone"></use>
                </svg>
                +359 <span>24899450</span>
              </a>
            </li>
            <li class="footer__contacts__item">
              <a class="contact__link" href="mailto:office.bulgaria@mbws.com">
                <svg class="contact__icon contact__envelope">
                  <use xlink:href="#envelope"></use>
                </svg>
                office.bulgaria@mbws.com
              </a>
            </li>
            <li class="footer__contacts__item">
              <a class="contact__link" href="tel:35924899450">
                <svg class="contact__icon contact__map-pin">
                  <use xlink:href="#map-pin"></use>
                </svg>
                Address: Sofia, "Mladost" 4, Business park
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__column footer__menada">
          <div class="footer__medana-body">
            <a class="medana__img-link" href="#">
              <img class="medana__logo" src="../img/footer/footer-logo-mb.png" alt="medana-logo" >
            </a>
            <a class="logo" href="index.html">
              <img class="logo__img" src="./img/header/logo.png" alt="logo">
            </a>
            <div class="all-rights">All rights reserved</div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="health-logo">
          <img class="health-img" src="../img/footer/health-logo.png" alt="health-icon">
        </div>
        <div class="footer__copyrights">
          <div class="copyright">Copyright &copy; 2021</div>
          <div class="danger-alcohol">
            <p>Alcohol abuse results in harm to your health. Enjoy in moderation.</p>
          </div>
          <div class="design">Web design: eDesign</div>
        </div>
      </div>
    </div>
  </div>
</footer>