<header class="header">
  <div class="header__tag">
    <a class="tag__link" href="#">
      <img class="header__tag-img" src="./img/header/tag.png" alt="tag">
    </a>
  </div>
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="index.html">
        <img class="logo__img" src="./img/header/logo.png" alt="logo">
      </a>
      <div class="header__menu">
        <button class="btn__language">Bg</button>
        <div class="wrapper__burger" data-btn-menu>
          <div class="menu__name">menu</div>
          <div class="menu__icon">
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
            <span class="menu__icon-dot"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>